table.prettytable {
  margin: 0em 0.5em 0.5em 0.5em;
  background: whitesmoke;
  border-collapse: collapse;
}
table.prettytable th, table.prettytable td {
  border: 1px silver solid;
  padding: 0.2em;
}
table.prettytable th {
  background: gainsboro;
  text-align: center;
}
table.prettytable caption {
  margin-left: inherit;
  margin-right: inherit;
}
table.innertable th, table.innertable td {
  border: 0;
}
td.number {
  text-align: right;
}
#noscript-warning {
    font-family:sans-serif;
    position:fixed;
    top:0px;
    left:0px;
    width:100%;
    z-index:101;
    text-align:center;
    font-weight:bold;
    font-size:120%;
    color:#fff;
    background-color:#AE0000;
    padding:5px 0px 5px 0px;
}
#noscript-padding {
    padding-top:3.5em;
}
#blanket {
    background-color:#ddd;
    opacity: 0.65;
    filter:alpha(opacity=65);
    position:absolute;
    z-index: 9001;
    top:0px;
    left:0px;
    width:100%;
}
.popUpDiv {
    position: absolute;
    border: solid 1px;
    padding: 5px;
    background-color:white;
    z-index: 9002;
}
